Repository HospitalRun/hospitalrun-frontend, pull requests merged in 2020-01, with the labels that each got.

#1691 feat(patients): adds ability to view patient
  package.json
  public/locales/en/translation.json
  src/__tests__/containers/HospitalRun.test.tsx
  src/__tests__/patients/new/NewPatient.test.tsx
  src/__tests__/patients/patient-slice.test.ts
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/components/input/DatePickerWithLabelFormGroup.tsx
  src/components/input/SelectWithLableFormGroup.tsx
  src/components/input/TextFieldWithLabelFormGroup.tsx
  src/components/input/TextInputWithLabelFormGroup.tsx
  src/model/Patient.ts
  src/patients/patient-slice.ts
  src/patients/patients-slice.ts
  src/patients/view/ViewPatient.tsx
Labels: enhancement, patients

#1696 feat(patients): use panels for grouping content in view patient
  src/patients/view/ViewPatient.tsx
Labels: enhancement, patients

#1703 feat(patients): add success message when patient is created successfully
  public/locales/en/translation.json
  src/__tests__/containers/HospitalRun.test.tsx
  src/__tests__/patients/patients-slice.test.ts
  src/containers/HospitalRun.tsx
  src/patients/patients-slice.ts
Labels: enhancement, in progress, patients, v2.x

#1712 feat(pwa): adds pwa support
  package.json
  public/index.html
  public/manifest.json
  src/__tests__/patients/patients-slice.test.ts
  src/i18n.js
  src/index.tsx
  src/locales/en-US/translation.json
Labels: enhancement, in progress, v2.x

#1708 feat(patients): adds friendly id and adds search for name and friendly id
  package.json
  src/__tests__/containers/HospitalRun.test.tsx
  src/__tests__/patients/list/Patients.test.tsx
  src/__tests__/patients/new/NewPatientForm.test.tsx
  src/__tests__/patients/patient-slice.test.ts
  src/__tests__/patients/patients-slice.test.ts
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/clients/db/PatientRepository.ts
  src/clients/db/Repository.ts
  src/clients/db/Search.ts
  src/config/pouchdb.ts
  src/custom-pouchdb.d.ts
  src/model/AbstractDBModel.ts
  src/model/Patient.ts
  src/patients/list/Patients.tsx
  src/patients/new/NewPatientForm.tsx
  src/patients/patient-slice.ts
  src/patients/patients-slice.ts
  src/patients/view/ViewPatient.tsx
  src/util/patient-name-util.ts
Labels: enhancement, in progress, patients, v2.x

#1719 fix(scss): import scss from components library
  package.json
  src/index.tsx
Labels: bug, v2.x

#1720 Fixes coveralls coverage
  .travis.yml
  package.json
Labels: ci/cd, in progress

#1733 feat(patients): add tabs in patient view
  package.json
  src/HospitalRun.tsx
  src/__tests__/patients/view/GeneralInformation.test.tsx
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/locales/en-US/translation.json
  src/patients/view/GeneralInformation.tsx
  src/patients/view/ViewPatient.tsx
Labels: enhancement, patients

#1735 feat(scheduling): add scheduling module (with appointments)
  src/HospitalRun.tsx
  src/__tests__/HospitalRun.test.tsx
  src/__tests__/clients/db/AppointmentRepository.test.ts
  src/__tests__/components/Navbar.test.tsx
  src/__tests__/components/Sidebar.test.tsx
  src/__tests__/scheduling/appointments/Appointments.test.tsx
  src/clients/db/AppointmentsRepository.ts
  src/components/Navbar.tsx
  src/components/Sidebar.tsx
  src/config/pouchdb.ts
  src/locales/en-US/translation.json
  src/model/Appointment.ts
  src/model/Permissions.ts
  src/scheduling/appointments/Appointments.tsx
  src/user/user-slice.ts
Labels: enhancement, scheduling

#1738 feat(patients): add related persons
  package.json
  src/__tests__/clients/db/PatientRepository.test.ts
  src/__tests__/patients/patient-slice.test.ts
  src/__tests__/patients/related-persons/NewRelatedPersonModal.test.tsx
  src/__tests__/patients/related-persons/RelatedPersons.test.tsx
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/__tests__/scheduling/appointments/Appointments.test.tsx
  src/clients/db/Repository.ts
  src/locales/en-US/translation.json
  src/model/ContactInformation.ts
  src/model/Name.ts
  src/model/Patient.ts
  src/model/RelatedPerson.ts
  src/patients/new/NewPatientForm.tsx
  src/patients/patient-slice.ts
  src/patients/related-persons/NewRelatedPersonModal.tsx
  src/patients/related-persons/RelatedPersonTab.tsx
  src/patients/view/ViewPatient.tsx
Labels: enhancement, in progress, patients

#1751 feat(patients): use button toolbar
  src/patients/new/NewPatientForm.tsx
Labels: enhancement, patients

#1750 feat(appointments): add ability to create new appointment
  src/HospitalRun.tsx
  src/__tests__/HospitalRun.test.tsx
  src/__tests__/clients/db/AppointmentRepository.test.ts
  src/__tests__/components/Navbar.test.tsx
  src/__tests__/components/input/DateTimePickerWithLabelFormGroup.test.tsx
  src/__tests__/scheduling/appointments-slice.test.ts
  src/__tests__/scheduling/appointments/new/NewAppointment.test.tsx
  src/components/Navbar.tsx
  src/components/input/DateTimePickerWithLabelFormGroup.tsx
  src/locales/en-US/translation.json
  src/model/Appointment.ts
  src/scheduling/appointments/appointments-slice.ts
  src/scheduling/appointments/new/NewAppointment.tsx
  src/user/user-slice.ts
Labels: enhancement, scheduling

#1762 fix(patients): fix typo in classnames
  src/patients/new/NewPatientForm.tsx
Labels: bug, patients

#1736 feat:error handling to patient form
  .gitignore
  src/__tests__/patients/new/NewPatientForm.test.tsx
  src/locales/en-US/translation.json
  src/patients/new/NewPatientForm.tsx
Labels: enhancement, in progress, patients
