Repository HospitalRun/hospitalrun-frontend, pull requests merged in 2020-03, with the labels that each got.

#1871 feat(diagnoses): adds ability to add a diagnoses
  src/__tests__/patients/allergies/Allergies.test.tsx
  src/__tests__/patients/diagnoses/AddDiagnosisModal.test.tsx
  src/__tests__/patients/diagnoses/Diagnoses.test.tsx
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/locales/en-US/translation.json
  src/model/Diagnosis.ts
  src/model/Patient.ts
  src/model/Permissions.ts
  src/patients/diagnoses/AddDiagnosisModal.tsx
  src/patients/diagnoses/Diagnoses.tsx
  src/patients/view/ViewPatient.tsx
  src/user/user-slice.ts
Labels: enhancement, patients

#1880 Model updates
  package.json
  src/__tests__/HospitalRun.test.tsx
  src/__tests__/clients/db/AppointmentRepository.test.ts
  src/__tests__/clients/db/PatientRepository.test.ts
  src/__tests__/patients/GeneralInformation.test.tsx
  src/__tests__/patients/edit/EditPatient.test.tsx
  src/__tests__/patients/list/Patients.test.tsx
  src/__tests__/patients/view/ViewPatient.test.tsx
  src/__tests__/scheduling/appointments/edit/EditAppointment.test.tsx
  src/clients/db/PatientRepository.ts
  src/clients/db/Repository.ts
  src/model/AbstractDBModel.ts
  src/model/Patient.ts
  src/patients/edit/EditPatient.tsx
  src/patients/list/Patients.tsx
  src/patients/related-persons/NewRelatedPersonModal.tsx
  src/patients/view/ViewPatient.tsx
  src/scheduling/appointments/AppointmentDetailForm.tsx
Labels: bug, enhancement, patients, scheduling

#1882 feat: add callbacks for patient and appointment actions
  src/__tests__/patients/allergies/Allergies.test.tsx
  src/__tests__/patients/diagnoses/Diagnoses.test.tsx
  src/__tests__/patients/new/NewPatient.test.tsx
  src/__tests__/patients/patient-slice.test.ts
  src/__tests__/patients/related-persons/RelatedPersons.test.tsx
  src/__tests__/scheduling/appointments/appointment-slice.test.ts
  src/__tests__/scheduling/appointments/edit/EditAppointment.test.tsx
  src/__tests__/scheduling/appointments/new/NewAppointment.test.tsx
  src/__tests__/scheduling/appointments/view/ViewAppointment.test.tsx
  src/locales/en-US/translation.json
  src/patients/allergies/Allergies.tsx
  src/patients/diagnoses/Diagnoses.tsx
  src/patients/edit/EditPatient.tsx
  src/patients/new/NewPatient.tsx
  src/patients/patient-slice.ts
  src/patients/related-persons/RelatedPersonTab.tsx
  src/scheduling/appointments/appointment-slice.ts
  src/scheduling/appointments/edit/EditAppointment.tsx
  src/scheduling/appointments/new/NewAppointment.tsx
  src/scheduling/appointments/view/ViewAppointment.tsx
Labels: bug

#1905 fix(#1899): added warning messages
  src/locales/enUs/translations/patient/index.ts
Labels: in progress

#1907 fix(#1906): fixed button position
  src/patients/new/NewPatient.tsx
Labels: bug

#1897 feat: added successful alert when adding new appointments
  src/__tests__/scheduling/appointments/new/NewAppointment.test.tsx
  src/locales/enUs/translations/scheduling/index.ts
  src/scheduling/appointments/new/NewAppointment.tsx
Labels: in progress

#1904 fix(translations): fix some ptBr translations
  src/locales/ptBr/translations/patient/index.ts
Labels: in progress

#1932 fix(#1915): Mark Given Name as required for new/edit Patient
  src/components/input/TextInputWithLabelFormGroup.tsx
  src/patients/GeneralInformation.tsx
Labels: enhancement, patients

#1936 fix(patients): add required field label for diagnosis
  src/components/input/DatePickerWithLabelFormGroup.tsx
  src/patients/diagnoses/AddDiagnosisModal.tsx
Labels: enhancement, patients

#1933 fix(patients): changed Add Diagnoses button to Add Diagnosis
  src/locales/enUs/translations/patient/index.ts
Labels: bug

#1934 fix(scheduling): mark required fields in New Appointment/Edit Appointment
  src/components/input/DateTimePickerWithLabelFormGroup.tsx
  src/scheduling/appointments/AppointmentDetailForm.tsx
Labels: enhancement, scheduling

#1944 feat(patients): added an asterisk to the Allergy Name field
  .env.example
  src/patients/allergies/NewAllergyModal.tsx
Labels: enhancement, patients

#1945 feat(patients): better form feedback for add allergy
  src/__tests__/patients/allergies/NewAllergyModal.test.tsx
  src/locales/enUs/translations/patient/index.ts
  src/patients/allergies/NewAllergyModal.tsx
Labels: enhancement, patients

#1922 style: makes unused vars error with linting
  .eslintrc.js
  src/__tests__/patients/related-persons/NewRelatedPersonModal.test.tsx
Labels: ci/cd
