Repository HospitalRun/hospitalrun-frontend, pull requests merged in 2021-11, with the labels that each got.

#2554 fix(medication): set correct quantity and value for new medications
  .eslintrc.js
  src/__tests__/medications/requests/NewMedicationRequest.test.tsx
  src/medications/requests/NewMedicationRequest.tsx
  src/scheduling/appointments/AppointmentDetailForm.tsx
Labels: 🐛bug, in progress, medication

#2555 fix(patient): ensure new patient models always have a visits array
  src/__tests__/patients/edit/EditPatient.test.tsx
  src/__tests__/patients/patient-slice.test.ts
  src/patients/util/set-patient-helper.ts
Labels: 🐛bug, in progress, patients

#2504 feat(diagnoses): adds ability to view a diagnosis
  src/__tests__/patients/diagnoses/Diagnoses.test.tsx
  src/__tests__/patients/diagnoses/DiagnosesList.test.tsx
  src/__tests__/patients/diagnoses/DiagnosisTable.test.tsx
  src/__tests__/patients/diagnoses/ViewDiagnoses.test.tsx
  src/__tests__/patients/diagnoses/ViewDiagnosis.test.tsx
  src/__tests__/patients/hooks/useDiagnosis.test.tsx
  src/__tests__/patients/view/ImportantPatientInfo.test.tsx
  src/patients/diagnoses/Diagnoses.tsx
  src/patients/diagnoses/DiagnosesList.tsx
  src/patients/diagnoses/DiagnosisTable.tsx
  src/patients/diagnoses/ViewDiagnoses.tsx
  src/patients/diagnoses/ViewDiagnosis.tsx
  src/patients/hooks/useDiagnosis.tsx
  src/patients/view/ImportantPatientInfo.tsx
  src/patients/view/ViewPatient.tsx
Labels: 🚀enhancement, in progress, patients
